pyquil>=4.5.0,<5.0.0
numpy
networkx
pandas
lmfit
scipy
sympy
python-rapidjson
seaborn
cvxpy>=1.0.0
tqdm
gitpython
matplotlib>=3.1.0

# test dependencies
flake8
pytest
pytest-cov
referenceqvm
requests
scikit-learn
coverage
httpx

# doc dependencies
sphinx
sphinx-autodoc-typehints
sphinx_rtd_theme
nbsphinx

# for testing examples
nbval
