eyquil>=4.14.3,<5.0.0
numpy
networkx
packaging
pandas
lmfit
scipy
setuptools
sympy
python-rapidjson
seaborn
cvxpy>=1.0.0
tqdm
gitpython
matplotlib>=3.1.0
qcs-sdk-python>=0.20.1

# test dependencies
flake8
pytest
pytest-cov
referenceqvm
requests
scikit-learn
coverage
httpx

# doc dependencies
sphinx
sphinx-autodoc-typehints
sphinx_rtd_theme
nbsphinx

# for testing examples
nbval
