--index-url https://test.pypi.org/simple/ --extra-index-url https://pypi.org/simple pyquil==2.13.0.10
numpy
networkx
pandas
lmfit
scipy
sympy
python-rapidjson
seaborn
cvxpy>=1.0.0
dataclasses; python_version < "3.7"
tqdm
gitpython
matplotlib>=3.1.0

# test dependencies
flake8
pytest
pytest-cov
referenceqvm
requests
scikit-learn

# doc dependencies
sphinx
sphinx-autodoc-typehints
sphinx_rtd_theme
nbsphinx

# for testing examples
nbval